/* Reset */
body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: #D9D9D9;
    height: 100vh;
}

/* Header */
header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 45px;
    z-index: 100; /* Ensure the header is on top */
}


.logo {
    background-color: #D92524;
    padding: 15px 40px;
    border-radius: 8px;
}

.jobs {
    color: #780D0D;
}

.sign-in {
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.oddjobs-link {
    font-weight: bolder;
    font-size: 25px;
    color: #FFFFFF;
    text-decoration: none;
    text-decoration: none;
    color: white; /* Inherit the color from the parent */
    display: block; /* Make the link a block-level element to fill the container */
}

/* Container */
.container {
    position: absolute;
    top: 100px; /* Adjust this value based on your header's height */
    left: 0;
    right: 0;
    bottom: 0;
}

/* BACK BUTTON */
a.back-button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #ffffff;
    color: #000000;
    text-decoration: none;
    border-radius: 40px;
    position: relative;
    margin: 20px 25px;
    z-index: 1; /* Ensure it's above other elements */
}

/* register Form */
.register-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    width: 500px;
    border-radius: 4px;
    box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
}

.register-form h1 {
    padding: 35px 35px 0 35px;
    font-weight: 700;
    font-size: 35px;
}

.register-form .content {
    padding: 0px 35px 35px 35px;
    text-align: center;
    position: relative;
}

.register-form .input-field {
    padding: 12px 5px;
}

.register-form .input-field input {
    font-size: 16px;
    display: block;
    width: 100%;
    padding: 10px 1px;
    border: 0;
    border-bottom: 1px solid #747474;
    outline: none;
    transition: all .2s;
}

.register-form .input-field input:focus {
    border-color: #222;
}

.register-form a.linkunderlined {
    text-decoration: none;
    color: #00a2ff;
    letter-spacing: 0.2px;
    display: inline-block;
    margin-top: 15px;
    font-weight: 600;
}

/* Buttons */
.register-form .submit-button {
    width: 100%;
    border: none;
    padding: 18px;
    cursor: pointer;
    text-transform: uppercase;
    color: white;
    letter-spacing: 0.2px;
    outline: 0;
    transition: all .3s;
    margin-top: 15px;
    margin-bottom: 10px;
    background-color: #D92524;
    font-weight: bold;
    border-radius: 5px;
    font-size: 15px;
}

.register-form .submit-button:hover {
    background: #921818;
    color: #fff;
}

