.header-oddjobs {
  background-color: rgb(255, 255, 255);
  padding: 10px;
}

.oddtitle {
  display: inline-block;
  color: white;
  font-weight: 500;
}

.jobstitle {
  color:rgb(94, 8, 8);
}

.thumbtitle {
  display: inline-block;
  text-decoration: none;
  color: red;
  font-size: 25px;
  padding: 5px 10px;
  background-color: rgb(251, 46, 46);
  border-radius: 10px;
  margin-left: 10px;
}